name: CI
on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    branches: [main]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Update npm
        run: npm update -g npm
      - name: Install dependencies
        run: npm ci --include=dev
      - name: Check types with tsc
        run: npm run typecheck
      - name: Check code with Biome
        run: npm run biome
  publish:
    name: Build and publish package
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Update npm
        run: npm update -g npm
      - name: Install dependencies
        run: npm ci --include=dev
      - name: Build package
        run: npm run build
      - name: Publish package
        run: npm publish
